
a {
    color: #069d98 !important;
    font-family: 'Product Sans'; 
}
#mobile-template, #desktop-template {
    font-family: 'Product Sans';
    margin: 3vw;
}
#mobile-template .page-heading {
    font-size: 2em;
    font-weight: bold;
    padding-top: 2vw;
}
#desktop-template .page-heading {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    padding-top: 3vw;
}
#mobile-template p {
    font-size: 1em;
}
#desktop-template p {
    font-size: 1.5em;
}