{% load widget_tweaks %}

{{ form.non_field_errors }}
<div class="mb-3">
    <div class="error-message">
        {% if form.firstname.errors %}
            <div class="error-source">
                {{form.firstname.errors}}
            </div>
        {% endif %}
    </div>
    <div class="input-group p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <span class="input-group-text rounded">Ð</span>
        {% render_field form.firstname class+="form-control form-control-lg rounded" placeholder="Firstname" %}
    </div>
</div>
<div class="mb-3">
    <div class="error-message">
        {% if form.lastname.errors %}
            <div class="error-source">
                {{form.lastname.errors}}
            </div>
        {% endif %}
    </div>
    <div class="input-group p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        {% render_field form.lastname class+="form-control form-control-lg rounded" placeholder="Lastname" %}
        <span class="input-group-text rounded">Ł</span>
    </div>
</div>
<div class="mb-3" style="margin-bottom: 0vh !important;">
    <div class="error-message">
        {% if form.email.errors %}
            <div class="error-source">
                {{form.email.errors}}
            </div>
        {% endif %}
    </div>
    <div class="input-group p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        {% render_field form.email class+="form-control form-control-lg rounded" placeholder="Your email address" %}
        <span class="input-group-text rounded">example@mail.com</span>
    </div>
</div>
<div class="mb-3 ">
    <div class="error-message">
        {% if form.roll.errors %}
            <div class="error-source">
                {{form.roll.errors}}
            </div>
        {% endif %}
    </div>
    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        {% render_field form.roll class+="form-control form-control-lg" placeholder="Role number" %}
    </div>
</div>
<div class="mb-3">
    <div class="error-message">
        {% if form.contact.errors %}
            <div class="error-source">
                {{form.contact.errors}}
            </div>
        {% endif %}
    </div>
    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        {% render_field form.contact class+="form-control form-control-lg" placeholder="Contact" %}
        <div class="form-text">
            *Don't forget to add +91 before your number!
        </div>
    </div>

</div>
<div class="mb-3">
    <div class="error-message">
        {% if form.programme.errors %}
            <div class="error-source">
                {{form.programme.errors}}
            </div>
        {% endif %}
    </div>
    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        {% render_field form.programme class+="form-select form-select-lg" %}
    </div>
    
</div>
<div class="mb-3">
    <div class="error-message">
        {% if form.semester.errors %}
            <div class="error-source">
                {{form.semester.errors}}
            </div>
        {% endif %}
    </div>
    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        {% render_field form.semester class+="form-select form-select-lg" placeholder="Semester" %}
    </div>
    
</div>
<div class="mb-3">
    <div class="error-message">
        {% if form.invitation_code.errors %}
            <div class="error-source">
                {{form.invitation_code.errors}}
            </div>
        {% endif %}
    </div>
    <div class="input-group p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <span class="input-group-text rounded">Invitation code</span>
        {% render_field form.invitation_code class+="invitation form-control form-control-lg" placeholder="eg. CUJ61QJ978Y" %}
    </div>
    
</div>

<style>
    .form-select-lg {
        color: rgb(95, 93, 93);
    }
    .error-message {
        color: #cc0033;
        display: inline-block;
        font-size: 0.75rem;
        line-height: 15px;
        margin: 5px 0 0;
        margin-bottom: -2vh;
    }
    .form-control, .form-select {
        width: 100%;
        font-size: 1rem;
    }
    .form-text {
        color: #146ff8;
        display: inline-block;
        font-size: 0.8rem;
        line-height: 15px;
        margin-left: 1rem;
    }
    .input-group {
        margin-bottom: 0vh !important;
    }
    .mb-3 {
        margin-bottom: 0vh !important;
    }
    .input-group-text {
        background-color: #146ff8;
        color: aliceblue;
    }
    .invitation {
        color: green !important;
    }
</style>