{% load widget_tweaks %}

{{ form.non_field_errors }}

<div class="mb-3">
    <div class="error-message">
        {% if form.old_password.errors %}
            <div class="error-source">
                {{form.old_password.errors}}
            </div>
        {% endif %}
    </div>
    <div class="input-group p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <span class="input-group-text rounded">Old Password</span>
        {% render_field form.old_password class+="form-control form-control-lg rounded" placeholder="Old Password" %}
    </div>
</div>

<div class="mb-3">
    <div class="error-message">
        {% if form.new_password1.errors %}
            <div class="error-source">
                {{form.new_password1.errors}}
            </div>
        {% endif %}
    </div>
    <div class="input-group p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <span class="input-group-text rounded">New Password</span>
        {% render_field form.new_password1 class+="form-control form-control-lg rounded" placeholder="New Password" %}
    </div>
</div>

<div class="mb-3">
    <div class="error-message">
        {% if form.new_password2.errors %}
            <div class="error-source">
                {{form.new_password2.errors}}
            </div>
        {% endif %}
    </div>
    <div class="input-group p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <span class="input-group-text rounded">Confirm New Password</span>
        {% render_field form.new_password2 class+="form-control form-control-lg rounded" placeholder="New Password Confirmation" %}
    </div>
</div>
<style>
    .form-select-lg {
        color: rgb(95, 93, 93);
    }
    .error-message {
        color: #cc0033;
        display: inline-block;
        font-size: 0.75rem;
        line-height: 15px;
        margin: 5px 0 0;
        margin-bottom: -2vh;
    }
    .form-control, .form-select {
        width: 100%;
        font-size: 1rem;
    }
    .form-text {
        color: #146ff8;
        display: inline-block;
        font-size: 0.8rem;
        line-height: 15px;
        margin-left: 1rem;
    }
    .input-group {
        margin-bottom: 0vh !important;
    }
    .mb-3 {
        margin-bottom: 0vh !important;
    }
    .input-group-text {
        background-color: #146ff8;
        color: aliceblue;
    }
    .green {
        color: green !important;
    }
    .orange {
        color: rgb(247, 102, 34) !important;
    }
</style>