{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Code Connect site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Code Connect administration') }}</a></div>
{% endblock %}

{% load i18n static %}
{% block usertools %}
  <div id="user-tools">
      {% block welcome-msg %}
          {% translate 'Welcome,' %}
          <strong>{% firstof user.get_short_name user.get_username %}</strong>.
      {% endblock %}
      {% block userlinks %}
          {% if site_url %}
              <a href="{{ site_url }}">{% translate 'View site' %}</a> /
          {% endif %}
          {% if user.is_active and user.is_staff %}
              {% url 'django-admindocs-docroot' as docsroot %}
              {% if docsroot %}
                  <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
              {% endif %}
          {% endif %}
          <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
              {% csrf_token %}
              <button type="submit">{% translate 'Log out' %}</button>
          </form>
          {% include "admin/color_theme_toggle.html" %}
      {% endblock %}
  </div>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Accounts' %} &rsaquo; {% translate 'Password' %}
</div>
{% endblock %}

{% block content %}<div id="content-main">

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </p>
{% endif %}


<p>{% translate 'Since this is the your first time logging in, we request you to set up your account password.' %}</p>
<!-- <p>{% translate 'Please enter a new password twice so we can verify you typed it in correctly.' %}</p> -->

<fieldset class="module aligned wide">

  <div class="form-row" style="display: none;">      
    <div class="flex-container" style="display: none;"><label for="id_old_password">Old password:</label> <input type="hidden" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" value="{{ old_password }}"></div>
  </div>

<div class="form-row">
    {{ form.new_password1.errors }}
    <div class="flex-container">{{ form.new_password1.label_tag }} {{ form.new_password1 }}</div>
    {% if form.new_password1.help_text %}
    <div class="help"{% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
    {% endif %}
</div>

<div class="form-row">
    {{ form.new_password2.errors }}
    <div class="flex-container">{{ form.new_password2.label_tag }} {{ form.new_password2 }}</div>
    {% if form.new_password2.help_text %}
    <div class="help"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
    {% endif %}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="{% translate 'Change my password' %}" class="default">
</div>

</div>
</form></div>

{% endblock %}
