{% extends "base_blur.html" %}

{% block title %}
    Register at Code Connect
{% endblock %}


{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'members/css/base.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'members/css/registration.css' %}?{% now 'U' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}


{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="{% static 'members/scripts/registration.js' %}?{% now 'U' %}"></script>
{% endblock %}


{% block content_mobile %}


    <div class="page-heading"> CODE CONNECT </div>
    <p >Back to <a href="/">home</a></p>

    <div style="margin-bottom: 2vh;">Join our club by filling the form below!</div>

    <div class="alert alert-warning" role="alert" style="margin-bottom: 2vh;">
        <h4 class="alert-heading">Welcome!</h4>
        <p>
            Welcome to our coding club community! By filling out the form below, you're taking the first step towards joining a vibrant community of code enthusiasts. 
            Your participation signifies your agreement to abide by our community guidelines and code of conduct, ensuring a positive and inclusive environment for all members.</p>
        <hr>
        <p class="mb-0"> We're excited to have you join us on this journey!</p>
    </div>

    <form action="{% url 'members:member_registration'%}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary mb-3 submit" value="Register">
    </form>


    {% if total %}
        <div id="show-who-button-section">
            <div><div style="font-size: larger;">Hurry up!</div><span class="colored lg">{{ total }} </span>people have already registered. </div>
            <div class="spinner" id="spinner1" style="margin-top: 1vh;"></div>
            <button id="show-who-button" style="display: block;" class="btn btn-primary mb-3" onclick="showWho()">
                <img src="{% static 'img/comment3.png' %}" style="margin-right: 1vw;" class="unclickable" alt="See who">
                See who
            </button>
        </div>
    {% endif %}

    <div id="registered-section" style="margin-top: 5vh; display: none;">
        <ul class="list-group">
            {% for member in members %}
                {% if forloop.first %}
                    <li class="list-group-item active" aria-current="true">{{member.firstname}} joined {{member.date_joined|timesince}} ago</li>  
                    <li class="list-group-item" id="dynamic-text" aria-current="true">. . .</li>                                          
                {% else %}
                    <li class="list-group-item"><span class="colored">{{member.firstname}}</span> joined {{member.date_joined|timesince}} ago</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>


{% endblock %}




{% block content_desktop  %}

    <div class="page-heading"> CODE CONNECT </div>
    <p >Back to <a href="/">home</a></p>

    <p style="margin-bottom: 2vh;">Join our club by filling the form below!</p>

    <div class="alert alert-warning" role="alert" style="margin-top: 5vh; margin-bottom: 5vh;"">
        <h2 class="alert-heading">Welcome!</h2>
        <p>
            Welcome to our coding club community! By filling out the form below, you're taking the first step towards joining a vibrant community of code enthusiasts. 
            Your participation signifies your agreement to abide by our community guidelines and code of conduct, ensuring a positive and inclusive environment for all members.</p>
        <hr>
        <p class="mb-0"> We're excited to have you join us on this journey!</p>
    </div>

    <div id="desktop-center-division">

        <form action="{% url 'members:member_registration' %}" method="post" style="flex: 1;">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary mb-3 submit" value="Register">
        </form>
    
        <span id="right-span">
                <div id="right-span-center" {% if not total %} style="display: none;" {% endif %}>

                        <div>
                                <div><span class="colored lg">{{ total }} </span>people have already registered. <p>Hurry up!</p></div>
                                <ul class="list-group">
                                    {% for member in members %}
                                        {% if forloop.first %}
                                            <li class="list-group-item active" aria-current="true">{{member.firstname}} joined {{member.date_joined|timesince}} ago</li>  
                                            <li class="list-group-item" id="dynamic-text2" aria-current="true">....</li>                                          
                                        {% else %}
                                            <li class="list-group-item"><span class="colored">{{member.firstname}}</span> joined {{member.date_joined|timesince}} ago</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                        </div>
                </div>
        </span>

    </div>

{% endblock %}