{% extends "base.html" %}

{% block title %}
    Homepage — Code Connect
{% endblock %}


{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/styles.css' %}?{% now 'U' %}">
{% endblock %}


{% block content_mobile %}
    <div class="page-heading"> CODE CONNECT </div>
    <p>Go to <a href="{% url 'members:member_registration' %}">registration</a></p>
{% endblock %}

{% block content_desktop  %}
    <div class="page-heading"> CODE CONNECT </div>
    <p>Go to <a href="{% url 'members:member_registration' %}">registration</a></p>
{% endblock %}