
a {
    color: #ca1bbf !important;
    font-family: 'Product Sans'; 
}
#mobile-template, #desktop-template {
    font-family: 'Product Sans';
    margin: 3vw;
}
#mobile-template .page-heading {
    font-size: 2em;
    font-weight: bold;
    padding-top: 2vw;
}
#desktop-template .page-heading {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    padding-top: 3vw;
}
#mobile-template p {
    font-size: 1em;
}
#desktop-template p {
    font-size: 1.3em;
}

.submit {
    margin-top: 3vh;
    width: 100%;
    height: 6vh;
    background-color: #146ff8 !important;
}

.submit2 {
    margin-top: 1vh !important;
    width: fit-content;
    margin: auto;
    background-color: #146ff8 !important;
}


.colored {
    color: #146ff8;
}


.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #146ff8;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;display: none; 
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mobile-template .btn img {
    width: 4vw; /* Adjust the width of the image */
    height: 4vw;
    margin-top: -0.5vw !important; /* Adjust the vertical alignment of the image */
    margin-right: 0vw;
    margin-left: 1vw;
}

#desktop-template .btn img {
    width: 2vw; /* Adjust the width of the image */
    height: 2vw;
    margin-top: -0.5vw !important; /* Adjust the vertical alignment of the image */
    margin-right: 0vw;
    margin-left: 1vw;
}

#mobile-template .error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 15px;
    margin: 5px 0 0;
    margin-bottom: -2vh;
}

#desktop-template .error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 0.9rem;
    line-height: 15px;
    margin: 5px 0 0;
    margin-bottom: -2vh;
}

.my-card{
    width: 80%; margin: auto; 
    background-color: rgba(255, 255, 255, 0.5);
    padding: 4vw; padding-top: 2vw; padding-bottom: 2vw;
    border-radius: 2%;  border: 1.5px solid rgba(163, 163, 164, 0.5);
}

#mobile-template .alert-warning {
    width: 100vw;
    position: relative; 
    left: calc(-50vw + 50%);
}